<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to provide the best personalized features.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs your location to provide the best personalized features.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1008815468099-3qv2j85jsf2oknjjfvja7ffu8vdsiugg</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1008815468099-3qv2j85jsf2oknjjfvja7ffu8vdsiugg.apps.googleusercontent.com</string>
</dict>
</plist>
